{%- extends '@SyliusBootstrapAdminUi/shared/pagerfanta.html.twig' -%}

{%- block page_link -%}
    <li class="page-item">
        <a class="page-link"
           data-live-action-param="changePage"
           data-action="live#action"
           data-live-page-param="{{ page }}"
            {{ sylius_test_html_attribute('page', page)}}
        >{{- page -}}
        </a>
    </li>
{%- endblock page_link -%}

{%- block current_page_link -%}
    <li class="page-item active" aria-current="page"><span {{ sylius_test_html_attribute('current-page')}} class="page-link">{{- page -}}</span></li>
{%- endblock current_page_link -%}

{%- block previous_page_link -%}
    <li class="page-item">
        <button class="page-link"
           rel="prev"
           data-action="live#action"
           data-live-action-param="previousPage"
        >
            {{ ux_icon('tabler:chevron-left') }} {{- block('previous_page_message') -}}
        </button>
    </li>
{%- endblock previous_page_link -%}

{%- block next_page_link -%}
    <li class="page-item">
        <button class="page-link"
           rel="next"
           data-model="page"
           data-action="live#action"
           data-live-action-param="nextPage"
        >
            {{- block('next_page_message') -}} {{ ux_icon('tabler:chevron-right') }}
        </button>
    </li>
{%- endblock next_page_link -%}
